<main class="app-shell">

  <section class="hero-panel">
    <div>
      <span class="eyebrow">Tour Planner</span>
      <h1>Deine Touren verwalten</h1>
      <p>Min = Minuten, km = Kilometer. Erstelle, bearbeite oder lösche deine Touren direkt hier.</p>
    </div>

    <button class="login-trigger" (click)="auth.open()">
    @if (auth.isLoggedIn()) {
      <p>{{ auth.username }}</p>
    } @else {
      <p>Sign in</p>
    }
    </button>

    <!-- <button class="login-trigger" (click)="auth.open()">
      @if (auth.isLoggedIn()) {
          <p>{{ auth.username }}</p>
        } @else {
          <p>Sign in</p>
        }
    </button> -->

    @if (auth.showLogin()) {
      <div class="modal-backdrop" (click)="auth.close()">
        <div class="modal-box" (click)="$event.stopPropagation()">
          <app-user></app-user>
        </div>
      </div>
    }
  </section>

  <section class="map-section">
    <app-map></app-map>
  </section>
  <br>

  <section>
    <app-tour-form></app-tour-form>
  </section>
  <section>
    <app-tour-logs></app-tour-logs>
  </section>

</main>
